.holder{
	background-color:red;
	width:100vw;
	display:flex;
	 flex-wrap: wrap;
	justify-content:space-around;
	gap: 20px;
}
.item{
	width:200px;
	height:200px;
	background-color:green;
	flex: 1 1 30%;  
    box-sizing: border-box;
}